* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.good-cards {
  max-width: 70%;
  margin: 0 auto;
}

.good-card__item {
  margin-top: 10px;;
}

.alert {
  margin-bottom: 0 !important;
}

.coin-receiver {
  margin: auto;
}

.coin-receiver * {
  margin-right: 20px;
}
